.darkMode{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0px 20px  ;
}
.btn_mode_theme_light{
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #fff;
    background: #fff;
    color: #212121;
    font-size: 18px;
}
.btn_mode_theme_dark{
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #fff;
    background: #212121;
    color: #fff;
    font-size: 18px;
}
.darkMode button{
    cursor: pointer;
}
.darkMode i{
    padding-right: 5px;
}
.dark-mode{
    background: #111111;;
}

.light-mode {
    background: #f9f9f9;
}

.container-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.box-profile{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    height: auto;
}
.profile-photo{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}
.profile-photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
}
.profile-photo img{
    cursor: pointer;
}

.dark-mode .profile-photo img {
    border: 2px solid #f9f9f9;
}

.light-mode .profile-photo img {
   border: 2px solid #212121;
}

.profile-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: auto;
    max-width: 400px;
}
.box-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
}
.profile-name .ri-verified-badge-fill{
    padding-left: 5px;
}
.dark-mode .profile-name .ri-verified-badge-fill{
    color: #F6FA70;
}
.light-mode .profile-name .ri-verified-badge-fill{
    color: #0079FF;
}
.profile-name h2{
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
}
.dark-mode .profile-name h2 {
    color: #fff;
}
.light-mode .profile-name h2 {
    color: #212121;
}
.price-share{
    display: flex;
    gap: 10px;
    align-items: center;
}
.dark-mode .profile-follow button{
    background: rgba(227, 64, 30, 1);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
}
.light-mode .profile-follow button{
    background: rgba(24, 119, 242, 1);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
}
.profile-follow button:hover{
    cursor: pointer;
}
.dark-mode .profile-share button{
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}
.light-mode .profile-share button{
    background: transparent;
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}
.profile-share button:hover{
    cursor: pointer;
}
.box-descript p{
    font-size: 15px;
    font-weight: 400;
}
.dark-mode .box-descript p{
    color:#fff;
}
.light-mode .box-descript p{
    color:#212121;
}
.box-social ul{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box-social li{
    transition: transform ease-in-out 0.2s;
}
.box-social li:hover{
    transform: scale(1.3);
}
.box-social a{
    font-size: 20px;
}
.dark-mode .box-social  a{
    color: #fff;
}
.light-mode .box-social  a{
    color: #212121;
}
.container-card{
    columns: 5;
    gap: 5px;
    padding: 5px;
}
.container-status{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 0;
}
.box-status{
    display: flex; 
    flex-wrap: wrap;
    gap: 5px;
}
.box-status i{
    padding-right: 5px;
}
.box-status h2{
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding: 4px 12px;
    border-radius: 3px;
    background: white;
}
@media screen and (max-width:990px){

    .card-profile{
        margin-left: 5px;
        margin-right: 5px;
    }
    .box-status{
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .container-card{
        columns: 3;
    }
}
@media screen and (max-width:770px){
    .container-profile{
        padding: 20px;
    }
    .box-profile{
        justify-content: center;
        align-items: center;
    }
    .container-card{
        columns: 3;
    }
}
@media screen and (max-width:640px){
    .darkMode{
        padding: 10px 10px 0px 10px;
    }
    .container-profile{
        padding: 20px;
    }
    .box-profile{
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .box-info{
        justify-content: center;
    }
    .container-status{
        justify-content: center;
    }
    .profile-info{
        justify-content: center;
        align-items: center;
    }
    .box-descript p{
        text-align: center;
    }
    .container-card{
        columns: 1;
    }
    .box-status{
        justify-content: center;
        align-items: center;
    }
    .box-status h2{
        font-size: 15px;
    }
}